<h1>Admin Dashboard</h1>

<div class="dashboard-summary">
  <p>Click here to manage products.</p>

  <div class="dashboard-links">
    <%= link_to 'Manage Products', admin_products_path, class: 'btn btn-primary' %>
  </div>
</div>
